<!DOCTYPE html>

<html manifest="{{ STATIC_URL }}cache.manifest">

{% load url from future %}

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css"></script>

    <style type="text/css">
        body {
            padding: 50px;
            padding-top: 100px;
        }
    </style>

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!--QUnit-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/qunit-1.14.0.css">
    <script src="{{ STATIC_URL }}js/qunit-1.14.0.js"></script>

    <title> Reservations </title>
</head>

<body>

{% if user.is_authenticated %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/res/">Home</a>
            <a class="brand" href="/res/my_reservations/">My reservations</a>

            <div class="navbar header pull-right">
                <ul class="nav navbar-nav pull-right">
                    <li class="navbar-text">Signed in as {{ user.username }}</li>
                    <li><a href="/account/logout/">Sign out</a></li>
                </ul>
            </div>

            {% block navbar %}
            {% endblock %}
        </div>
    </div>
</div>

{% endif %}

{% if error %}
    {{ error }}<br />
{% endif %}

{% block body %}

{% endblock %}

{% block anonymous %}
{% endblock %}

</body>

</html>