<h4>{{ room.name }}</h4>

{% if room.description %}
    <div>
        <h5> Description </h5>
        &nbsp;&nbsp;&nbsp;{{ room.description }}
    </div>
{% endif %}

{% if room.has_attributes %}
    <div>
        <h5> Attributes: </h5>
        &nbsp;&nbsp;&nbsp;{{ room.attributes_string }}
    </div>
{% endif %}

{% if date_list %}

    <h4>Select date</h4><br />
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" style="width: 500px">
            <table class="table">
            <tr>
            <th>#</th>
            <th>Date</th>
            </tr>
        {% for date in date_list %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a data-toggle="collapse" data-parent="#accordion" href="#hours{{ forloop.counter }}">{{ date.to_string }}</a>
                <div id="hours{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% for hours in date.cut_hours.hours %}
                            <span class="input-group-addon">
                                <input type="checkbox" name="date" value="{{ date.get_date_string }},{{ hours.to_string}}">
                            </span>
                            {{ hours.to_string }}
                            <br />
                        {% endfor %}
                    </div>
                </tr>
            </td>
        {% endfor %}
            </table>
        </div>
        <input type="hidden" name="room_id" value="{{ room.id }}" />
    </div>

{% else %}
    <p>No free date available.</p>
{% endif %}
