{% extends 'res/base.html' %}

{% block body %}

{% if reservations %}
    <div class="panel panel-default" style="width: 500px">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Room</th>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
            </tr>
        {% for res in reservations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ res.room.name }}</td>
                <td>{{ res.date }}</td>
                <td>{{ res.starthour }}</td>
                <td>{{ res.endhour }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="well">
        You don't have any reservations yet.
    </div>
{% endif %}

{% endblock %}
